.book-now-card-btn-container {
  position: relative;
  margin-bottom: 5px;
}

.test-button {
  position: absolute;
  right: 1rem;
  bottom: 5px;
  background-color: #fe8369;
  border: none;
  outline: none;
}

.test-button-hide {
  position: absolute;
  right: 1rem;
  bottom: 5px;
  background-color: #fe8369;
  border: none;
  outline: none;
  display: none;
}

.test-button:hover {
  background-color: #fe8369;
  border: none;
  outline: none;
}

/* Styles for confirm appointment */

.confirm-appointment-col {
  text-align: center;
}

.confirm-appointment-btn {
  background-color: #fe8369;
  border: none;
}

.confirm-appointment-btn:hover {
  background-color: #fe8369;
  border: 1px #fe8369 solid;
}

/* Media Queries */

@media (min-width: 320px) and (max-width: 480px) {
  .test-button {
    position: unset;
  }

  .book-now-card-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
