.testimonial-container {
  margin-top: 2rem;
  display: flex;
  min-height: 30rem;
  position: relative;
}

.testimonial-text-container {
  background-color: #fff0ed;
  display: flex;
  align-items: center;
  min-width: 40rem;
  position: absolute;
  right: 0;
  padding: 0 0 0 10rem;
  min-height: 30rem;
}

.testimonial-text-inner-container {
  margin-right: 7rem;
}

.carousel-container {
  display: flex;
  position: relative;
}

.testimonial-card-1,
.testimonial-card-2 {
  font-size: 0.7rem;
  min-width: 15rem;
  border-radius: 3px;
  padding: 3rem 2rem;
  text-align: center;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  top: 3rem;
  z-index: 1;
}

.testimonial-card-1 {
  left: 2rem;
}

.testimonial-card-2 {
  left: 20rem;
}
