.otp-containing-module {
  margin-top: 1rem;
}

.otp-inputs {
  text-align: center;
}

.otp-view {
  border: none !important;
  outline: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirm-booking-inner-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.verify-otp-btn {
  background-color: #fe8369;
  outline: none;
  border: none;
}

.verify-otp-btn:hover {
  background-color: #fe8369;
  outline: none;
  border: 1px solid #fe8369;
}

@media (min-width: 320px) and (max-width: 767px) {
  .verify-otp-btn {
    margin-top: 1.5rem;
  }
}
