.header-base-row {
  margin: 1rem 0 0 0;
  border-radius: 5px;
  box-shadow: 0 0.7rem 1rem rgba(134, 133, 133, 0.836);
  background-color: #5dc7da;
  height: 25rem;
}

.header-left-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-right-col-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-text-content {
  color: white;
}

.dentist-web-contact {
  background-color: #fe8369;
  border: none;
}

.dentist-web-contact:hover {
  background-color: #5dc7da !important;
}

.search-bar {
  background-color: #f5fdff;
}
