.navbar-element-1 {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000000000;
  padding: 0.9rem 1rem 1rem 1rem;
}

.navbar-element-2 {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000000000;
  padding: 0.9rem 1rem 1rem 1rem;
}

.hover-class-header:hover {
  color: #108ea3 !important;
}

.dentist-web-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  white-space: nowrap;
}

.column {
  text-align: center;
}

.book-now-btn {
  color: rgb(39, 39, 39);
  background-color: #8be6b4;
  border: none;
  box-shadow: 0 0.1rem 0.3rem rgba(134, 133, 133, 0.836);
}

.book-now-btn:hover {
  color: rgb(39, 39, 39);
  background-color: #23e279 !important;
}

/* a {
  color: rgba(0, 0, 0, 0.5) !important;
} */

.a-navbar-link {
  padding-left: 1em;
  color: rgba(0, 0, 0, 0.5) !important;
}

.a-navbar-link:hover {
  color: #5dc7da !important;
  text-decoration: none;
}

.navbar-toggler {
  background-color: #5dc7da !important;
  color: white;
  border: none !important;
  outline: none !important;
}
