.services-container {
  margin: 2.5rem 0 3rem 0;
}

.services-background {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  width: 100%;
  height: 11rem;
  background-image: url(/assets/images/services-about-back.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: #000000c2;
}

.services-background h5 {
  font-family: Muli;
  font-weight: 600;
}

.services-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-parent-content-container {
  padding: 0 2rem 0 2rem;
}

.services-headline {
  font-family: Muli;
  font-size: 1.5rem;
  font-weight: 600;
  color: #000000c2;
}

.services-content-div {
  font-size: 17px;
  color: #2a2a2ad5;
}

@media (min-width: 300px) and (max-width: 768px) {
  .services-background {
    min-height: 7.5rem;
  }

  .services-content-div {
    font-size: 1rem;
    color: #2a2a2ad5;
  }

  .services-parent-content-container {
    margin-bottom: 2rem;
  }
}
