.features-benefits-container {
  padding: 1rem 0 1rem 0;
  background-color: #f0fdff;
}

.features-benefits-header {
  font-family: Perpetua;
  font-weight: 600;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: rgb(247, 49, 49);
}

.features-benefits-base-row {
  padding: 2rem 2rem;
  text-align: center;
}

.features-benefits-left-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.features-benefits-left-col-division {
  text-align: left;
  padding: 0 4rem 0 4rem;
}

.features-benefits-card-1 {
  background-color: #fe8369;
  font-size: 0.8rem;
  padding: 2.5rem;
  border-radius: 5px;
  text-align: left;
  color: white;
  overflow: hidden;
  border-radius: 3px;
  transition: transform 0.3s;
}

.features-benefits-card-2,
.features-benefits-card-3 {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.178);
  font-size: 0.8rem;
  padding: 2.5rem;
  border-radius: 5px;
  text-align: left;
  overflow: hidden;
  border-radius: 3px;
}

.features-benefits-card-1:hover,
.features-benefits-card-2:hover,
.features-benefits-card-3:hover {
  box-shadow: 0 1rem 1rem rgba(63, 62, 62, 0.63);
}

.features-benefits-right-col-2 {
  margin-top: 1.5rem;
}

.view-all-button {
  background-color: #fe8369;
  border: none;
}

.view-all-button:hover {
  background-color: #5dc7da;
}

.streamline-process {
  font-family: perpetua;
  color: #4b4b4b;
  font-weight: 600;
}

.streamline-content {
  font-size: 0.9rem;
  color: #444444;
  font-family: Muli;
}

.card-header {
  padding: 12px 0;
  background-color: inherit;
  border: none;
  font-family: perpetua;
}

.features-benefits-card-content {
  font-family: Muli;
}

@media (min-width: 1026px) and (max-width: 1440px) {
  .features-benefits-right-col-2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 1025px) and (max-width: 1268px) {
  .features-benefits-right-col-2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .features-benefits-left-col-division {
    padding: 0 1rem;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .features-benefits-left-col-division {
    padding: 0 1rem;
  }
}
