.blogs-menu-base-row {
  margin: 1rem 0 2rem 0;
}

.blogs-menu-container {
  border-radius: 10px;
}

.blog-list-element {
  margin-bottom: 1rem;
}

.blog-list-element-base-row {
  margin: 2rem 0;
  padding: 0 !important;
  border-radius: 10px;
  box-shadow: 0.3rem 0.3rem 2px rgba(127, 255, 249, 0.09),
    -0.3rem -0.3rem 2px rgba(127, 255, 249, 0.09);
}

.blog-content-top-row {
  display: flex !important;
}

.blog-content-top-row-right {
  position: absolute;
  right: 0;
  padding-right: 1rem;
}

.blog-content-middle-row {
  display: flex;
}

.blog-content-bottom-row {
  font-size: 0.8rem;
  /* font-weight: 501; */
  opacity: 0.8;
  font-family: Arial, Helvetica, sans-serif;
}

.blog-content {
  padding: 2rem 1rem !important;
}

.blog-content-author {
  color: rgba(27, 179, 250, 0.938);
  font-weight: 500 !important;
}

.blog-posted-on {
  font-size: 0.9rem;
  color: #00000080;
}

.blogs-image-div {
  height: 100%;
  background-image: url(/assets/images/blogs-index-image.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}

/* Media Queries */

@media (min-width: 481px) and (max-width: 767px) {
  .blog-content-top-row {
    display: block;
  }
}
