.testimonials-container {
  margin-top: 2rem;
  display: flex;
  min-height: 30rem;
  position: relative;
}

.testimonials-card-carousel {
  min-width: 10rem;
}

.owl-theme {
  width: 47% !important;
}

.item {
  margin-top: 2rem;
}

.testimonial-card {
  font-size: 0.7rem;
  max-width: 17rem;
  border-radius: 10px;
  padding: 3rem 2rem;
  text-align: center;
  background-color: white;
  border: 1px solid rgba(56, 56, 56, 0.63);
}

.testimonial-text-inner-container {
  margin-right: 7rem;
}

.testimonial-text-container {
  background-color: #fff0ed;
  display: flex;
  align-items: center;
  min-width: 40rem;
  position: absolute;
  right: 0;
  padding: 0 0 0 10rem;
  min-height: 30rem;
}

.image-division {
  padding: 0 4.2rem;
}

.face-image {
  max-width: 5rem;
  margin: 0 auto;
}

/*   ##Device = Laptops, Desktops  ##Screen = B/w 1025px to 1280px*/
@media (min-width: 1025px) and (max-width: 1268px) {
  .testimonial-text-container {
    max-width: 37rem;
  }
  .testimonial-card {
    min-height: 25rem !important;
  }
}
/*   ##Device = Tablets, Ipads (portrait)  ##Screen = B/w 768px to 1024px*/
@media (min-width: 768px) and (max-width: 1024px) {
  .testimonials-container {
    display: block;
  }

  .owl-theme {
    width: 100% !important;
  }

  .testimonial-text-container {
    position: unset;
  }

  .owl-item {
    max-width: 15rem !important;
  }

  .testimonial-card {
    min-height: 25rem !important;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .testimonials-container {
    display: block;
  }

  .owl-theme {
    width: 100% !important;
  }

  .testimonial-text-container {
    position: unset;
    min-width: 20rem;
    padding: 2rem;
  }

  .owl-item {
    max-width: 25rem !important;
  }

  .testimonial-card {
    margin: 0 auto;
  }

  .testimonial-text-inner-container {
    margin: 0;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .testimonials-container {
    display: block;
  }

  .owl-theme {
    width: 100% !important;
  }

  .testimonial-text-container {
    position: unset;
    min-width: 20rem;
    padding: 2rem;
  }
  .image-division {
    padding: 0;
  }

  .testimonial-card {
    margin: 0 auto;
  }

  .testimonial-text-inner-container {
    margin: 0;
  }
}
