/* .confirm-appointment-col {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  position: realtive;
}

.confirm-appointment-btn-div {
  position: absolute;
  left: 36%;
}

.confirm-appointment-btn {
  background-color: #fe8369;
  border: none;
}

.timings-btn:focus {
  background-color: rgba(0, 0, 0, 0.473);
  color: white;
}

.confirm-appointment-btn:hover {
  background-color: #fe8369;
  border: 1px #fe8369 solid;
} */

.timings-btn:focus {
  background-color: rgba(0, 0, 0, 0.473);
  color: white;
}
