.timings-btn:focus {
  background-color: rgba(0, 0, 0, 0.473);
  color: white;
}

@media (min-width: 767px) and (max-width: 990px) {
  .custom-padding-appointmnet {
    padding: 1rem 0.5rem !important;
  }

  .morning-timings-row,
  .afternoon-timings-row,
  .evening-timings-row {
    text-align: center;
    font-size: 1rem;
  }

  .timings-btn {
    font-size: 0.9rem;
  }

  .MuiBox-root-98 {
    padding: 2rem 0 !important;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .parent-column-appointment {
    display: flex !important;
  }

  .morning-timings-row,
  .afternoon-timings-row,
  .evening-timings-row {
    text-align: center;
    line-height: 2.5rem;
    font-size: 1rem;
  }

  .timings-btn {
    font-size: 1rem;
  }
}

@media (min-width: 300px) and (max-width: 480px) {
  .parent-column-appointment {
    display: flex !important;
  }

  .morning-timings-row,
  .afternoon-timings-row,
  .evening-timings-row {
    text-align: center;
    line-height: 2.5rem;
    font-size: 0.9rem;
  }

  .timings-btn {
    font-size: 0.7rem;
  }
}
